@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400..700&family=M+PLUS+Rounded+1c&family=Numans&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
body {
    background-color: #660066;
}
.container { 
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: #843284;
    border-radius: 5px;
    margin: 30px auto;
    h3,p{
        color: white;
        font-weight: bold;
        font-family: "Shadows Into Light", serif;
    }
   ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    li{
        list-style: none;
        margin: 10px;
        input{
            margin-right: 10px;
        }
        p{
            display: inline;
        }
    }
   }
   div{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    button{
        border: none;
        color: black;
        background-color: #efe5ef;
        font-weight: bold;
        font-family: "Shadows Into Light", serif;
        width: 70px;
        height: 30px;
        border-radius: 5px;
       }
   }
   .AppHeader{
    color: white;
    font-weight: bold;
    font-family: "Shadows Into Light", serif;
   }
}
.resultHeader, .result{
    font-weight: bold;
    font-family: "Shadows Into Light", serif;
    color: white;
}
.resetButton {
    border: none;
    color: black;
    background-color: #efe5ef;
    font-weight: bold;
    font-family: "Shadows Into Light", serif;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}